* {
    box-sizing: border-box;
}

/* HEADER */

#active{
    border-bottom: 5px solid #da4681;
}

.header {
    width: 100%;
    min-height: 20vh;
    background-color: #CBD6E8;
    border-bottom: solid 2px #909599;
}
.header h1 {
    text-align: center;
}

.active:hover{
    border-bottom: 5px solid #da4681;
}

/* MAIN */

.main {
    min-height: 70vh;
    background-color:  #E9F0FA
}

.empty{
    width: 10rem;
    height: 10rem;
    background-color: aqua;
}

/* .checks{
    background-color: #90959968;
    border-radius: 1rem;
} */

.main_details {
    padding: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color:  #E9F0FA
}

.main_details .cont_card {
    border: solid 2px #909599;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    min-height: 25rem;
    justify-content: center;
    align-content: center;
    background-color: #CBD6E8;
    
    
}

.main_details .cont_card .cont_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
}

.main_details .cont_card img {
    width: 80%;
}

.main_details .cont_card article {
    padding: 3%;
    width: 20rem;
}

.cont_df_img {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.cont_df_img p {
    width: 100%;
}

.cont_df_img #dont_found_img{
    width: 100%;
}

/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 10vh;
    background-color: #CBD6E8;
    border-top: solid 2px #909599;
}


.footer .contain_boton {
    gap: 2rem;
    display: flex;
    width: 33%;
    height: 100%;
    padding-left: 1rem;
}

.footer .text{
    padding-right: 1rem;
    width: 33%;
}

.footer .text h2{
    font-size: large;
}

.footer .contain_boton .boton {
    width: 4rem;
}

/* MEDIAS */

@media screen and (max-width: 1092px) {
    .main_details .cont_card{
        flex-direction: column;
        align-items: center;
    }
    .main_details .cont_card article{
        width: 100%;
        justify-content: center;
    }
    .main_details .cont_card article h2 {
        text-align: center;
    }
    .main_details .cont_card .cont_img{
        padding:5%;
        width: 100%;
    }
}

@media screen and (max-width: 765px) {
    .contain_boton{
        justify-content: center;
    }
    .footer {
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        flex-direction: column;
    }
    .footer .contain_boton {
        width: 100%;
    }
    
    .footer .text{
        width: 100%;
    }

    #text_2{
        justify-content: center !important;
    }
}