* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body{
    background-image: url(../img/body_back.jpg);
    /* background-position: 50% 50%;  */
}
/* HEADER */

#active{
    border-bottom: 5px solid #da4681;
}

.header {
    width: 100%;
    min-height: 20vh;
    background-color: #e4e4e42c;
    border-bottom: solid 2px #909599;
    backdrop-filter: blur(0.2rem);
}


.header h1 {
    text-align: center;
    color: aliceblue;
}

.active:hover{
    border-bottom: 5px solid #da4681;
}

/* MAIN */

.main {
    min-height: 70vh;
}

.main .cont_table{
    padding: 5% 0;
    height: 100%
}

.main .cont_table .table{
    background-color: rgba(251, 245, 245, 0.762);
    backdrop-filter: blur(0.5rem);
    width: 90%;
    border: solid 1px black;
}

#cont_card .card {
    background-color: rgba(251, 245, 245, 0.597);
    backdrop-filter: blur(0.5rem);
    width: 19rem;
    height: 24rem;
}

#cont_card .card img {
    height: 30%;
    object-fit: cover;
    border-radius: 0.3rem 0.3rem 0 0 ;
}

#cont_card .card .card_text{
    height: 70%;
    padding: 1rem;
}

.cont_inputs{
    min-height: 10vh;
}

.cont_inputs #cont_check{
    justify-content: stretch;
}

.empty{
    width: 10rem;
    height: 10rem;
    background-color: aqua;
}

.main_details {
    padding: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    /* background-color:  #E9F0FA */
}

.main_details .cont_card {
    background-color: rgba(251, 245, 245, 0.597);
    backdrop-filter: blur(0.5rem);  
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    min-height: 25rem;
    justify-content: center;
    align-content: center;
}

.main_details .cont_card .cont_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
}

.main_details .cont_card img {
    width: 80%;
}

.main_details .cont_card article {
    padding: 3%;
    width: 20rem;
}

.cont_df_img {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.cont_df_img h2 {
    text-align: center ;
    width: 100%;
}

.cont_df_img #dont_found_img{
    width: 100%;
}

/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 10vh;
    background-color: #ffffff39;
    border-top: solid 2px #909599;
    backdrop-filter: blur(0.1rem);
}


.footer .contain_boton {
    gap: 2rem;
    display: flex;
    width: 33%;
    height: 100%;
    padding-left: 1rem;
}

.footer .text{
    color: white;
    padding-right: 1rem;
    width: 33%;
}

.footer .text h2{
    font-size: large;
}

.footer .contain_boton .boton {
    width: 4rem;
}

/* MEDIAS */
@media screen and (max-width: 1289px){
    .cont_inputs{
        gap: 1rem!important;
        padding: 1rem!important;
    }
}

@media screen and (max-width: 1092px) {
    .header{
        min-height: 15vh;
    }
    .main_details .cont_card{
        flex-direction: column;
        align-items: center;
    }
    .main_details .cont_card article{
        width: 100%;
        justify-content: center;
    }
    .main_details .cont_card article h2 {
        text-align: center;
    }
    .main_details .cont_card .cont_img{
        padding:5%;
        width: 100%;
    }
}

@media screen and (max-width: 770px) {
    .contain_boton{
        justify-content: center;
    }
    .footer {
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        flex-direction: column;
    }
    .footer .contain_boton {
        width: 100%;
    }
    
    .footer .text{
        width: 100%;
    }

    #text_2{
        justify-content: center !important;
    }
}

@media screen and (max-width: 353px){
    .cont_inputs #cont_check{
        flex-direction: column;
        gap: 1rem!important;
    }
}